
.Nav-1{
    width: 70%;
    margin: auto;
}

.navbar-expand-lg .navbar-collapse{
    margin-left: 90px;
}

.carousel-caption {
right: -33%;
bottom: 128px;
}

.navbar-brand {
    border: solid 2px #000;
    padding: 0 10px 5px;
}

.deal {
    background-color: #000;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    line-height: initial;
    color: #ffffff;
    font-size: 17px;
    font-style: italic;
}

.deal span:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #dc3545;
}

.card-img, .card-img-bottom, .card-img-top {
    height: 400px;
}

.carousel-item img {
    max-height:630px;
    margin-bottom: 50px;
}

.courasel-btn {
        color: #ffffff;
        background-color: #222222;
        border-color: #222222;
        width: 150px;
        padding: 11px 25px;
        line-height: initial;
        border-radius: 0;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
}


.courasel-btn:hover{
    background-color: #ffffff;
    color: #222222;
}

.Product-btn{
    
        background-color: #ffffff;
        color: #222222;
        border-color: #222222;
        padding: 11px 25px;
        line-height: initial;
        border-radius: 0;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
}

.Product-btn:hover {
    color: #ffffff;
    background-color: #222222;
    border-color: #222222;
}

.card{
    border: transparent;
    margin-bottom: 20px;
}

